body {
    margin:0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.header{
    background-color: rgb(212, 188, 252);
    height:48px;
    display:flex;
    justify-content: space-between;
}

.hls, .hrs{
    display:flex;
    align-items: center;
}

.headermargin{
    display:flex;
}

.hahl{
    width: 1200px;
    min-width: 600px;
    flex:0 1 auto;
    display: flex;
    flex-direction: column;
}

.marginleft, .marginright{
    flex:1 1 80px;
    min-width: 20px;
    background-color: rgb(212, 188, 252);
    
}



.icon{
    height:32px;
    width:32px;
    margin:8px;
}

.sitename{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;

}

.headliner{
    background-color: rgb(212, 188, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;

}

.HL-text{
    margin:128px 32px; 
    min-width: 0;
    word-wrap: break-word;
}


.coverimg{
    max-height:300px;
    height:auto;
    margin:128px 32px; 
    min-width: 0;
    flex:0 2 auto;
    object-fit:fill;
}







.content1{
    display: flex;
}

#ml1, #mr1{
    background-color: rgb(255, 253, 162);
}

.body1{
    width: 1200px;
    min-width: 600px;
    flex:0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 253, 162);
}

.infobox-set{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.infobox{
    width:128px;
    height:128px;
    border: rgb(255, 254, 173) 4px outset;
    margin:32px;

}

.textbox{
    width:128px;
    margin:32px;
    text-align: center;
    font-style: italic;
    font-size: 24px;
}

.infoimg{
    width:128px;
}